<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">{{title}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-page" aria-current="page">Contact us</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" (click)="addSum()" class="btn btn-warning">Donate 10 €</button>
                </li>
            </ul>
            <ng-template [ngIf]="add10 >= 10">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button type="button" class="btn btn-success">{{add10}} €</button>
                    </li>
                </ul>
            </ng-template>
        </div>



    </div>
</nav>